.modal-overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.45);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:1000;
}

.modal{
    width:450px;
    background:white;
    border-radius:12px;
    padding:30px;
}

.modal h2{
    margin-bottom:25px;
}

.modal label{
    display:block;
    margin-bottom:8px;
    font-weight:600;
}

.modal input{
    width:100%;
    padding:12px;
    margin-bottom:18px;
    border:1px solid #ddd;
    border-radius:8px;
    font-size:15px;
    box-sizing:border-box;
}

.modal-buttons{
    display:flex;
    justify-content:flex-end;
    gap:12px;
    margin-top:10px;
}

.cancel-btn{
    background:#e5e7eb;
    border:none;
    padding:10px 18px;
    border-radius:8px;
    cursor:pointer;
}

.save-btn{
    background:#2563eb;
    color:white;
    border:none;
    padding:10px 18px;
    border-radius:8px;
    cursor:pointer;
}