.sidebar{

    width:260px;

    background:#111827;

    color:white;

    min-height:100vh;

    padding:25px;

}

.sidebar-logo{

    font-size:24px;

    font-weight:bold;

    margin-bottom:40px;

}

.sidebar nav{

    display:flex;

    flex-direction:column;

    gap:15px;

}

.sidebar a{

    color:white;

    text-decoration:none;

    padding:12px;

    border-radius:8px;

}

.sidebar a.active{

    background:#2563eb;

}

.sidebar a:hover{

    background:#1f2937;

}