.dashboard-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:25px;
    margin-top:30px;
}

.dashboard-card{
    background:white;
    padding:25px;
    border-radius:14px;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
    transition:.3s;
}

.dashboard-card:hover{
    transform:translateY(-4px);
}

.dashboard-card h2{
    font-size:34px;
    margin-bottom:10px;
}

.dashboard-card p{
    color:#64748b;
}